.header-first {
  background-color: var(--light-gray);
  padding: 9px 0;
  border-top: 1px solid var(--dark);
}

.header-first .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-first .container .refresh {
  display: flex;
  align-items: center;
}

.header-first .container .refresh svg {
  margin-right: 6px;
}

.header-first .container .header-first-content {
  display: flex;
  grid-gap: 40px;
  align-items: center;
}

.header-first .container .header-first-content > div:first-child {
  display: flex;
  align-items: center;
}

.header-first .container .header-first-content .language,
.header-first-dropdown-item-1 {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header-first .container .header-first-content .language .language-content,
.header-first-dropdown-item-1-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-first .container .header-first-content .language .language-icon {
  display: flex;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

@keyframes showDropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-first-dropdown-menu {
  display: none;
  width: 400px;
  padding-top: 9px;
  position: absolute;
  top: 100%;
  left: -100%;
  z-index: 4;
}

.header-first-dropdown-item-1 .header-first-dropdown-menu {
  left: 0;
  transform: translateX(-25%);
}

.header-first-dropdown-menu .dropdown-menu-item-link {
  padding-right: 15px;
}

.header-first
  .container
  .header-first-content
  .language:hover
  .header-first-dropdown-menu,
.header-first-dropdown-item-1:hover .header-first-dropdown-menu {
  display: block;
  animation-name: showDropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.header-first .container .header-first-content .social {
  display: flex;
  grid-gap: 14px;
  align-items: center;
}

.header-first .container .header-first-content .social div {
  width: 28px;
  height: 28px;
  transition: 0.4s;
}

.header-first .container .header-first-content .social div a {
  display: flex;
  width: inherit;
  height: inherit;
}

.header-first .container .header-first-content .social div:hover {
  transform: scale(1.1);
}

.header-second {
  background-color: var(--dark);
  padding: 18px 0;
}

.header-second .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-second .logo {
  width: 200px;
  height: 23px;
}

.header-second .logo svg {
  width: 100%;
  height: 100%;
}

.header-second .header-second-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 53px;
}

.header-second .header-second-content .header-second-nav {
  display: flex;
  grid-gap: 20px;
}

.header-second .header-second-content .header-second-nav > div {
  position: relative;
  cursor: pointer;
}

.header-second
  .header-second-content
  .header-second-nav
  > div
  .header-second-nav-item {
  display: flex;
  align-items: center;
  color: var(--white);
}

.header-second .header-second-content .header-second-nav > div > a {
  color: var(--white);
  text-decoration: none;
}

.header-second .header-second-content .header-second-content-buttons {
  display: flex;
  grid-gap: 12px;
  align-items: center;
}

.header-second
  .header-second-content
  .header-second-content-buttons
  .primary-button.border.small.bg-transparent {
  max-height: 48px;
}

.header-second .header-second-content .header-second-content-buttons > div {
  width: 0;
  height: 48px;
  border-left: 1px solid var(--white);
  opacity: 0.5;
}

.header-second
  .header-second-content
  .header-second-nav
  > div
  > div:first-child
  .text.p3,
.header-second
  .header-second-content
  .header-second-nav
  > div
  > div:first-child
  svg
  path {
  transition: 0.4s;
}

.header-second
  .header-second-content
  .header-second-nav
  > div:hover
  > div:first-child
  .text.p3 {
  color: var(--primary-orange);
}

.header-second
  .header-second-content
  .header-second-nav
  > div:hover
  > div:first-child
  svg
  path {
  stroke: var(--primary-orange);
}

.header-second
  .header-second-content
  .header-second-nav
  > div
  .header-second-nav-dropdown-menu {
  display: none;
  width: 440px;
  padding-top: 31px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  z-index: 4;
}

.header-second
  .header-second-content
  .header-second-nav
  > div:hover
  .header-second-nav-dropdown-menu {
  display: block;
  animation-name: showDropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

#header-modeltest a {
  transition: 0.4s;
}

#header-modeltest:hover a {
  color: var(--primary-orange);
}

.burger-menu {
  display: none;
}

@media (max-width: 1199.98px) {
  .burger-menu {
    display: flex;
    height: 17px;
    width: 24.75px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .header-first {
    border-top: none;
  }

  .burger-menu div {
    width: 100%;
    height: 2.75px;
    background-color: var(--white);
    border-radius: 1.31px;
    transition: 0.3s;
  }
  .burger-menu.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5.5px);
  }

  .burger-menu.open div:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header {
    display: flex;
    flex-direction: column;
    z-index: 35;
  }

  .header.open {
    overflow-y: scroll;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header-first {
    order: 1;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .header-first .container {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 34px;
    max-width: 100%;
  }

  .header-first .container .refresh {
    order: 1;
    margin: 0 auto;
  }

  .header-first .container .header-first-content {
    flex-direction: column;
    grid-gap: 0;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 14px;
  }

  .header-first .container .header-first-content > div:first-child {
    width: 100%;
  }

  .header-first .container .header-first-content .language,
  .header-first-dropdown-item-1 {
    width: 100%;
    margin-bottom: 18px;
    border-bottom: 1px solid var(--gray);
    flex-direction: column;
  }

  .header-first .container .header-first-content .language .language-content,
  .header-first-dropdown-item-1-content {
    padding: 15px 0;
    border-bottom: 1px solid var(--gray);
  }

  .header-first-dropdown-item-1-content {
    border-top: 1px solid var(--gray);
  }

  .header-first-dropdown-menu,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-dropdown-menu {
    display: block;
    height: 0;
    position: static;
    width: 100%;
    padding-top: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .header-first-dropdown-item-1 .header-first-dropdown-menu {
    transform: translateX(0);
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-dropdown-menu {
    transform: translateX(0);
  }

  .header-first-dropdown-menu .dropdown-menu,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-dropdown-menu
    .dropdown-menu {
    border: 0;
    border-radius: 0;
    background-color: var(--light-gray);
  }

  .header-first-dropdown-menu .dropdown-menu-item,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-dropdown-menu
    .dropdown-menu-item {
    background-color: var(--light-gray);
  }

  .header-first-dropdown-menu .dropdown-menu-item-link,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-dropdown-menu
    .dropdown-menu-item-link {
    padding: 15px 20px;
    gap: 10px;
  }

  .header-first-dropdown-menu .flag-icon,
  .header-first-dropdown-menu .flag-icon svg {
    width: 21px;
    height: 15px;
  }

  .header-first-dropdown-menu .dropdown-menu-item:hover .text.p2_semibold {
    font-weight: 400;
    color: var(--black);
  }

  .header-first-dropdown-menu .dropdown-menu-item:hover .check-icon {
    opacity: 0;
  }

  .header-first .container .header-first-content .language .arrow-dropdown-icon,
  .header-first-dropdown-item-1 .arrow-dropdown-icon {
    margin-right: 0;
    margin-left: auto;
  }

  .header-first .container .header-first-content .language .arrow-dropdown-icon,
  .header-first
    .container
    .header-first-content
    .language
    .arrow-dropdown-icon
    svg,
  .header-first
    .container
    .header-first-content
    .header-first-dropdown-item-1
    .arrow-dropdown-icon,
  .header-first
    .container
    .header-first-content
    .header-first-dropdown-item-1
    .arrow-dropdown-icon
    svg,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item
    .arrow-dropdown-icon,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item
    .arrow-dropdown-icon
    svg {
    width: 32px;
    height: 32px;
  }

  .header-first .container .header-first-content .social {
    margin: 0 auto;
  }

  .header-first .container .header-first-content .social div,
  .header-first .container .header-first-content .social div svg {
    width: 44px;
    height: 44px;
  }

  .header-second {
    padding-bottom: 0;
  }

  .header-second .container {
    flex-wrap: wrap;
    padding: 0;
    max-width: 100%;
  }

  .header-second .container > div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 18px;
  }

  .header-second .logo {
    width: 180px;
    height: 20px;
  }

  .header-second .header-second-content {
    height: 0;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-direction: column;
    grid-gap: 20px;
    background-color: var(--light-gray);
    padding: 0;
    align-items: flex-start;
    overflow: hidden;
    transition: 0.3s;
  }

  .header-second .header-second-content .header-second-nav {
    flex-direction: column;
    order: 1;
    grid-gap: 0;
    width: 100%;
  }

  .header-second
    .header-second-content
    .header-second-content-buttons
    .primary-button {
    padding: 12px 26px;
  }

  .header-second
    .header-second-content
    .header-second-content-buttons
    .primary-button.border.small.bg-transparent {
    color: var(--black);
    padding: 12px 14px;
  }

  .header-second
    .header-second-content
    .header-second-content-buttons
    .primary-button.border.small.bg-transparent
    svg
    path {
    stroke: var(--black);
  }

  .header-second .header-second-content .header-second-content-buttons > div {
    display: none;
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item,
  .header-second .header-second-content .header-second-nav > div > a {
    color: var(--black);
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item {
    padding: 15px 0;
    border-top: 1px solid var(--gray);
    justify-content: space-between;
  }

  .header-second .header-second-content .header-second-nav > div#header-B2,
  .header-second
    .header-second-content
    .header-second-nav
    > div#header-modeltest {
    border-bottom: 1px solid var(--gray);
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div#header-modeltest {
    padding: 15px 0;
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item
    svg
    path {
    stroke: var(--black);
  }

  .header-second .header-second-content .header-second-content-buttons {
    margin: 0 auto;
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div:hover
    > div:first-child
    .text.p3 {
    color: var(--black);
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div:hover
    > div:first-child
    svg
    path {
    stroke: var(--black);
  }

  .header-first-dropdown-item-1-content .arrow-dropdown-icon svg,
  .header-first-dropdown-item-1-content.open .arrow-dropdown-icon svg,
  .header-first-dropdown-item-1-content .arrow-dropdown-icon svg path,
  .header-first-dropdown-item-1-content.open .arrow-dropdown-icon svg path,
  .header-first
    .container
    .header-first-content
    .language-content
    .arrow-dropdown-icon
    svg,
  .header-first
    .container
    .header-first-content
    .language-content.open
    .arrow-dropdown-icon
    svg,
  .header-first
    .container
    .header-first-content
    .language-content
    .arrow-dropdown-icon
    svg
    path,
  .header-first
    .container
    .header-first-content
    .language-content.open
    .arrow-dropdown-icon
    svg
    path,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    > div.header-second-nav-item
    .text.p3,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    > div.header-second-nav-item.open
    .text.p3,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item
    .arrow-dropdown-icon
    svg,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item.open
    .arrow-dropdown-icon
    svg,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item
    .arrow-dropdown-icon
    svg
    path,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item.open
    .arrow-dropdown-icon
    svg
    path {
    transition: 0.4s;
  }

  .header-second
    .header-second-content
    .header-second-nav
    > div
    > div.header-second-nav-item.open
    .text.p3 {
    color: var(--primary-orange);
  }

  .header-first-dropdown-item-1-content.open .arrow-dropdown-icon svg,
  .header-first
    .container
    .header-first-content
    .language-content.open
    .arrow-dropdown-icon
    svg,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item.open
    .arrow-dropdown-icon
    svg {
    transform: rotate(180deg);
  }

  .header-first-dropdown-item-1-content.open .arrow-dropdown-icon svg path,
  .header-first
    .container
    .header-first-content
    .language-content.open
    .arrow-dropdown-icon
    svg
    path,
  .header-second
    .header-second-content
    .header-second-nav
    > div
    .header-second-nav-item.open
    .arrow-dropdown-icon
    svg
    path {
    stroke: var(--primary-orange);
  }
}

@media (max-width: 374.98px) {
  .header-second .header-second-content .header-second-content-buttons {
    flex-direction: column;
    width: 100%;
  }

  .header-second
    .header-second-content
    .header-second-content-buttons
    .primary-button {
    width: 100%;
    justify-content: center;
  }

  .header-first .container .header-first-content .social {
    grid-gap: 10px;
  }

  .header-first .container .header-first-content .social div,
  .header-first .container .header-first-content .social div svg {
    width: 36px;
    height: 36px;
  }
}
