.provider {
  background: var(--light-gray);
}

.provider .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.provider .container h1 {
  text-align: center;
}

.provider .level-wrapper-list {
  margin: 0 auto;
}
