
h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

h1 span {
    color: var(--primary-orange);
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}

h2  span {
    color: var(--primary-orange);
}

h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
}

h3 span {
    color: var(--primary-orange);
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

h4 span {
    color: var(--primary-orange);
}




@media (max-width: 991.98px) {
    h1 {
      font-size: 48px;
      line-height: 60px;
    }
  
    h2 {
      font-size: 36px;
      line-height: 46px;
    }
  
    h3 {
      font-size: 30px;
      line-height: 40px;
    }
  
    h4 {
      font-size: 22px;
      line-height: 28px;
    }
  
}


@media (max-width: 767.98px) {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  
    h2 {
      font-size: 26px;
      line-height: 32px;
    }
  
    h3 {
      font-size: 24px;
      line-height: 28px;
    }
  
    h4 {
      font-size: 20px;
      line-height: 24px;
    }

}