.deutsch-b1-horen {
  background: var(--light-gray);
  overflow-x: hidden;
}

.deutsch-b1-horen .heading {
  text-align: center;
}

.deutsch-b1-horen .box_border {
  border: 2px solid var(--gray);
  border-radius: 25px;
  padding: 40px 102px;
  width: 100%;
  position: relative;
}

.deutsch-b1-horen .box_border .input__box .primary-button {
  margin-bottom: initial;
}

.deutsch-b1-horen .box_border .black {
  color: var(--black);
}

.deutsch-b1-horen .back__width {
  background: var(--white);
}

.deutsch-b1-horen .center {
  text-align: center;
}

.deutsch-b1-horen h3 {
  margin-bottom: 20px;
}

.deutsch-b1-horen .box_border h2 {
  text-align: center;
  margin-bottom: 25px;
}

.deutsch-b1-horen .box_border h3 {
  text-align: center;
  color: var(--primary-orange);
}

.box_border p {
  margin-bottom: 35px;
}

.deutsch-b1-horen .box_border hr {
  width: calc(100% + 204px);
  height: 1px;
  background: var(--gray);
  padding: 0;
  margin: 35px 0 35px -102px;
}

.deutsch-b1-horen .box_border hr.width {
  width: 100%;
  height: 1px;
  background: var(--gray);
  padding: 0;
  margin: 35px 0;
}

.box_border > *:last-child {
  margin-bottom: 0;
}

.deutsch-b1-horen .box_border .grup__button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.deutsch-b1-horen .box_border .grup__button button {
  max-width: 343px;
  width: 100%;
  padding-left: 45px;
  padding-right: 45px;
  justify-content: center;
}

.deutsch-b1-horen .box__audio h3 {
  color: var(--primary-orange);
  text-align: center;
}

.deutsch-b1-horen-button.primary-button.border.small {
  border: 4px solid var(--primary-orange);
  min-width: 410.92px;
  width: max-content;
  min-height: 80px;
  display: flex;
  justify-content: center;
  font: 600 24px/1.3em Inter;
}

.heading_h2_center {
  padding: 0 20px;
  text-align: center;
}

.back__width {
  background: var(--white);
}

.deutsch-b1-horen .max-width {
  max-width: 1044px;
  width: 100%;
}

.deutsch-b1-horen .box__padding__left {
  padding-left: 106px;
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding-top: 35px;
  border-top: 1px solid var(--gray);
}

.deutsch-b1-horen .box__padding__left .address p {
  font: 400 20px/1.3em Inter;
  margin-bottom: 4px;
}

.deutsch-b1-horen .box__padding__left .address {
  margin-bottom: 25px;
}

.deutsch-b1-horen .color_orange {
  color: var(--primary-orange);
}

.deutsch-b1-horen .span_orange span {
  color: var(--primary-orange);
}

.deutsch-b1-horen .span_orange {
  color: var(--black);
}

.deutsch-b1-horen .box_border.grey__content p {
  color: var(--light-black);
  margin-bottom: 20px;
}

.deutsch-b1-horen ul.dot_list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px 0;
  margin-bottom: 25px;
}

.deutsch-b1-horen ul.dot_list li {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.deutsch-b1-horen ul.dot_list li.line-through {
  text-decoration: line-through;
}

.deutsch-b1-horen ul.dot_list li::before {
  content: "";
  position: relative;
  width: 15px;
  height: 15px;
  background: var(--primary-orange);
  border-radius: 50%;
}

.deutsch-b1-horen ul.dot_list li.red {
  color: var(--red);
  font-weight: 600;
}
.deutsch-b1-horen ul.dot_list li.green {
  color: var(--dark-green);
  font-weight: 600;
}

.deutsch-b1-horen .span-border.red {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  height: 32px;
  border-radius: 25px;
  padding: 0 19px;
  font: 400 20px / 1.3em Inter;
  border: 2px solid var(--red);
  transition: all 0.3s linear;
}

.deutsch-b1-horen .span-border.green {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  height: 32px;
  border-radius: 25px;
  padding: 0 19px;
  font: 400 20px / 1.3em Inter;
  border: 2px solid var(--dark-green);
  transition: all 0.3s linear;
}

.deutsch-b1-horen .form_input {
  margin-bottom: 15px;
  max-width: 874px;
}

.deutsch-b1-horen .h3__title {
  font: 500 36px/1.3em Inter;
  margin-bottom: 15px;
}
.deutsch-b1-horen .p_20sz .text.p2,
.deutsch-b1-horen .p_20sz .text.p3 {
  font: 400 20px/2.5em Inter;
  margin-bottom: 35px;
}

.deutsch-b1-horen .p_20sz .text.p2 strong,
.deutsch-b1-horen .p_20sz .text.p3 strong {
  font-weight: 600;
}

.deutsch-b1-horen .box_24sz {
  margin-bottom: 35px;
}

.deutsch-b1-horen .box_24sz p {
  font: 400 24px/34px Inter;
  margin-bottom: 15px;
}

.deutsch-b1-horen .box_24sz p.bold {
  font: 600 24px/34px Inter;
}

.deutsch-b1-horen .box_24sz ul li {
  font: 400 24px/34px Inter;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.deutsch-b1-horen .box_24sz ul li {
  padding-left: 10px;
}

.deutsch-b1-horen .box_24sz ul li::before {
  content: "";
  position: relative;
  width: 7px;
  height: 7px;
  background: var(--black);
  border-radius: 50%;
  margin-right: 10px;
}

.deutsch-b1-horen .box_28sz {
  font: 600 24px/36px Inter;
  margin-bottom: 15px;
  color: var(--black);
}

.deutsch-b1-horen .box_28sz.center {
  text-align: center;
}

.deutsch-b1-horen .box_28sz span {
  color: var(--primary-orange);
}

@media (max-width: 1199.98px) {
  .deutsch-b1-horen .box_border .text.p2 br,
  .deutsch-b1-horen .box_border .text.p3 br {
    display: none;
  }

  .deutsch-b1-horen .p_20sz .text.p2,
  .deutsch-b1-horen .p_20sz .text.p3 {
    font: 400 20px/2em Inter;
  }

  .deutsch-b1-horen .center.mob-center {
    text-align: center;
  }

  .deutsch-b1-horen .box_border {
    border-radius: 25px;
    padding: 35px 82px;
  }

  .deutsch-b1-horen .box_border hr {
    width: calc(100% + 164px);
    height: 1px;
    background: var(--gray);
    padding: 0;
    margin: 35px 0 35px -82px;
  }

  .deutsch-b1-horen .center {
    text-align: left;
  }
}

@media (max-width: 991.98px) {
  .deutsch-b1-horen .h3__title {
    font: 500 30px/1.3em Inter;
  }

  .deutsch-b1-horen .box__padding__left {
    padding-left: 50px;
    padding-top: 20px;
  }
  .deutsch-b1-horen .box_border {
    border-radius: 20px;
    padding: 30px 70px;
  }

  .deutsch-b1-horen .box_border hr {
    width: calc(100% + 140px);
    height: 1px;
    background: var(--gray);
    padding: 0;
    margin: 35px 0 35px -70px;
  }

  .box_border p {
    margin-bottom: 28px;
  }

  .grup__button {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .deutsch-b1-horen .box_border .grup__button button {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .deutsch-b1-horen .box_28sz {
    font: 600 20px/28px Inter;
    margin-bottom: 15px;
  }

  .deutsch-b1-horen .h3__title {
    font: 500 24px/1.3em Inter;
    margin-bottom: 12px;
  }

  .deutsch-b1-horen .box_24sz {
    margin-bottom: 35px;
  }

  .deutsch-b1-horen .box_24sz p {
    font: 400 18px/24px Inter;
    margin-bottom: 10px;
  }

  .deutsch-b1-horen .box_24sz p.bold {
    font: 600 18px/34px Inter;
  }

  .deutsch-b1-horen .box_24sz ul li {
    font: 400 18px/24px Inter;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .deutsch-b1-horen .box_24sz ul li {
    padding-left: 10px;
  }

  .deutsch-b1-horen .box_24sz ul li::before {
    content: "";
    position: relative;
    width: 7px;
    height: 7px;
    background: var(--black);
    border-radius: 50%;
    margin-right: 10px;
  }

  .deutsch-b1-horen .box__padding__left {
    padding-left: 20px;
    padding-top: 15px;
  }

  .deutsch-b1-horen .dropdown-menu.open {
    display: block;
  }

  .deutsch-b1-horen .box_border {
    border-radius: 0;
    padding: 0;
    border: 0px solid var(--gray);
  }

  .deutsch-b1-horen .back__width {
    background: transparent;
  }

  .deutsch-b1-horen .box_border hr {
    width: calc(100% + 32px);
    height: 1px;
    background: var(--gray);
    padding: 0;
    margin: 35px 0 35px -16px;
  }

  .deutsch-b1-horen.listening-german > .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .deutsch-b1-horen .box_border.grey__content p {
    letter-spacing: inherit;
  }
  .deutsch-b1-horen .span-border.green,
  .deutsch-b1-horen .span-border.red {
    font: 400 18px / 1.3em Inter;
    margin: 0;
    padding: 0 12px;
    height: auto;
  }
}

@media (max-width: 575.98px) {
  .deutsch-b1-horen .box__padding__left {
    padding-left: 0px;
    padding-top: 15px;
  }

  .deutsch-b1-horen-button.primary-button.border.small {
    min-width: 100%;
    width: fit-content;
  }
}
