.deutsch-b1-horen {
  background: var(--light-gray);
  overflow-x: hidden;
}

.deutsch-b1-horen .heading {
  text-align: center;
}

.deutsch-b1-horen .box_border {
  border: 2px solid var(--gray);
  border-radius: 25px;
  padding: 40px 102px;
  width: 100%;
  position: relative;
}

.deutsch-b1-horen .box_border .black {
  color: var(--black);
}

.deutsch-b1-horen .back__width {
  background: var(--white);
}

.deutsch-b1-horen .center {
  text-align: center;
}

.deutsch-b1-horen h3 {
  margin-bottom: 20px;
}

.deutsch-b1-horen .box_border h2 {
  text-align: center;
  margin-bottom: 25px;
}

.deutsch-b1-horen .box_border h3 {
  text-align: center;
  color: var(--primary-orange);
}

.box_border p {
  margin-bottom: 35px;
}

.deutsch-b1-horen .box_border hr {
  width: calc(100% + 204px);
  height: 1px;
  background: var(--gray, #cacaca73);
  padding: 0;
  margin: 35px 0 35px -102px;
}

.deutsch-b1-horen .box_border .grup__button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.deutsch-b1-horen .box_border .grup__button button {
  max-width: 343px;
  width: 100%;
  padding-left: 45px;
  padding-right: 45px;
  justify-content: center;
}

.deutsch-b1-horen .box__audio h3 {
  color: var(--primary-orange);
  text-align: center;
}

.deutsch-b1-horen-button.primary-button.border.small {
  border: 4px solid var(--orange, #f7631b);
  min-width: 410.92px;
  width: max-content;
  min-height: 80px;
  display: flex;
  justify-content: center;
  font: 600 24px/1.3em Inter;
}

.heading_h2_center {
  padding: 0 20px;
  text-align: center;
}

.back__width {
  background: var(--white);
}

.deutsch-b1-horen .max-width {
  max-width: 1044px;
  width: 100%;
}

@media (max-width: 1199.98px) {
  .deutsch-b1-horen .box_border {
    border-radius: 25px;
    padding: 35px 82px;
  }

  .deutsch-b1-horen .box_border hr {
    width: calc(100% + 164px);
    height: 1px;
    background: var(--gray, #cacaca73);
    padding: 0;
    margin: 35px 0 35px -82px;
  }

  .deutsch-b1-horen .center {
    text-align: left;
  }
}

@media (max-width: 991.98px) {
  .deutsch-b1-horen .box_border {
    border-radius: 20px;
    padding: 30px 70px;
  }

  .deutsch-b1-horen .box_border hr {
    width: calc(100% + 140px);
    height: 1px;
    background: var(--gray, #cacaca73);
    padding: 0;
    margin: 35px 0 35px -70px;
  }

  .box_border p {
    margin-bottom: 28px;
  }

  .grup__button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .deutsch-b1-horen .box_border .grup__button button {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .deutsch-b1-horen .dropdown-menu.open {
    display: block;
  }

  .deutsch-b1-horen .box_border {
    border-radius: 0;
    padding: 0;
    border: 0px solid var(--gray);
  }

  .deutsch-b1-horen .back__width {
    background: transparent;
  }

  .deutsch-b1-horen .box_border hr {
    width: calc(100% + 32px);
    height: 1px;
    background: var(--gray, #cacaca73);
    padding: 0;
    margin: 35px 0 35px -16px;
  }

  .deutsch-b1-horen.listening-german > .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (max-width: 575.98px) {
  .deutsch-b1-horen-button.primary-button.border.small {
    min-width: 100%;
    width: fit-content;
  }
}
