.model-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.model-main_timer {
  width: 100%;
  padding: 24px 50px;
  background: var(--primary-orange);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.model-timer_info p,
.model-timer_time p {
  color: var(--white);
}
.model-timer_time {
  display: flex;
  align-items: center;
  gap: 8px;
}
.model-main_test {
  width: 100%;
  background: var(--white);
  border: 2px solid var(--gray);
  border-radius: 25px;
  padding: 40px 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.model-main_test form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.model-main_test form audio {
  width: 100%;
}
.model-test_line {
  width: calc(100% + 200px);
  height: 1px;
  background: var(--gray);
  margin-left: -100px;
}
.model-main_action {
  display: flex;
  justify-content: center;
}
.model-main_action button {
  padding: 22px 36px !important;
  font-size: 24px !important;
  line-height: 32px !important;
}

@media (max-width: 991.98px) {
  .model-main_test {
    background: transparent;
    border: none;
    padding: 0;
  }
  .model-main_timer {
    width: calc(100% + 32px);
    margin-left: -16px;
    border-radius: 0;
    flex-direction: column;
    padding: 20px 16px;
    text-align: center;
    gap: 12px;
  }
  .model-test_line {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}

@media (max-width: 767.98px) {
  .model-main_action button {
    padding: 26px 30px !important;
    font-size: 18px !important;
    line-height: 24px !important;
  }
}

@media (max-width: 575.98px) {
  .model-main_action button {
    width: 100%;
  }
}
