.model-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.model-main h2 {
  max-width: 1044px;
  width: 100%;
}

.model-main_test {
  width: 100%;
  background: var(--white);
  border: 2px solid var(--gray);
  border-radius: 25px;
  padding: 40px 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.model-main_test form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.model-main_test form .audio-player {
  width: 100%;
  margin-bottom: 0;
}
.model-test_line {
  width: calc(100% + 200px);
  height: 1px;
  background: var(--gray);
  margin-left: -100px;
}
.model-main_action {
  display: flex;
  justify-content: center;
}
.model-main_action button {
  padding: 22px 36px !important;
  font-size: 24px !important;
  line-height: 32px !important;
}

@media (max-width: 991.98px) {
  .model-main_test {
    background: transparent;
    border: none;
    padding: 0;
  }
  .model-test_line {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}

@media (max-width: 767.98px) {
  .model-main_action button {
    padding: 26px 30px !important;
    font-size: 18px !important;
    line-height: 24px !important;
  }
}

@media (max-width: 575.98px) {
  .model-main_action button {
    width: 100%;
  }
}
