*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.container.small {
  max-width: 1076px;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 100%;
  }
  .container.small {
    width: 100%;
  }
}
