body.overflow-hidden {
  overflow: hidden;
}
body.back::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, .9);
  z-index: 10;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.arrow-dropdown-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {
  .container {
    max-width: 100%;
  }
}