@import "./variables.css";
@import "./fonts.css";
@import "./base.css";

@import "./header/header.css";
@import "./footer/footer.css";

@import "../ui/main.css";

@import "./home/home.css";
@import "./writing/writing.css";
@import "./listening-german/listening-german.css";
@import "./provider/provider.css";
@import "./exercise/exercise.css";

/* input styles */

.input {
  width: 100%;
  background: var(--white);
  border-radius: 12px;
  border: 1px solid var(--border-gray);
  padding: 16px 24px;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
}
.input::placeholder {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
}

.breadcrumbs {
  padding: 14px 0;
}

.breadcrumbs h4 span {
  color: var(--primary-orange);
}

.breadcrumbs a {
  color: var(--black);
}

.breadcrumbs .bold {
  font-weight: 600;
}

.questions .container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.questions .container h2 {
  text-align: center;
}

.questions-box {
  display: flex;
  gap: 20px;
}

.questions-box img {
  width: 410px;
  height: 468px;
  border-radius: 25px;
  object-fit: cover;
}

.questions-box__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 650px;
  overflow-y: scroll;
  width: 720px;
}

.questions-box__text h3 {
  font-size: 36px;
  font-weight: 500;
}

.questions-box__text p {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  color: var(--light-black);
}

.choice-of-exercises .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.choice-of-exercises__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.choice-of-exercises .outline-orange {
  width: 100%;
  gap: 36px;
  border-color: var(--black);
  height: auto;
  padding: 48px 0;
}

.choice-of-exercises .outline-orange svg {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
}

.choice-of-exercises .outline-orange:hover {
  border-color: var(--primary-orange);
}

.choice-of-exercises .outline-orange svg path {
  stroke: var(--black);
}

.listening-exercises__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-wrap: nowrap;
}

.listening-exercises .listening-exercises__row {
  display: flex;
  gap: 16px;
}

.listening-list {
  width: 100%;
}

.listening-list__box {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

.listening-list__text .bold {
  font-weight: bold;
}

.listening-list__progress {
  margin-left: auto;
}

.progress-circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(
    var(--primary-orange) 0% 30%,
    var(--gray) 30% 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-circle:before {
  position: absolute;
  content: "";
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: var(--white);
  border-radius: 50%;
}

.progress-circle span {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 1199.98px) {
  .choice-of-exercises__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .container.small {
    width: 100%;
  }

  .questions-box {
    flex-direction: column-reverse;
  }

  .questions-box img {
    width: 100%;
  }

  .questions-box__text {
    max-height: none;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .choice-of-exercises__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .choice-of-exercises .outline-orange {
    gap: 0;
    padding: 16px 0;
  }

  .choice-of-exercises .outline-orange svg {
    height: 80px;
    width: 80px;
  }
  .choice-of-exercises .container {
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
