@import "./deutsch-b1-horen.css";
@import "./variables.css";
@import "./fonts.css";
@import "./base.css";

@import "./header/header.css";
@import "./footer/footer.css";

@import "../ui/main.css";

@import "./home/home.css";
@import "./writing/writing.css";
@import "./listening-german/listening-german.css";
@import "./provider/provider.css";
@import "./exercise/exercise.css";

/* input styles */

.input {
  width: 100%;
  background: var(--white);
  border-radius: 12px;
  border: 1px solid var(--border-gray);
  padding: 16px 24px;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
}

.input::placeholder {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
}

.breadcrumbs {
  padding: 14px 0;
}

.breadcrumbs-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: var(--black);
}

.breadcrumbs-title span {
  color: var(--primary-orange);
}

.breadcrumbs-main {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.breadcrumbs a {
  color: var(--black);
}

.breadcrumbs .bold {
  font-weight: 600;
}

.questions .container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.questions .container h2 {
  text-align: center;
}

.questions-box {
  display: flex;
  gap: 20px;
}

.questions-box img {
  width: 410px;
  height: 468px;
  border-radius: 25px;
  object-fit: cover;
}

.questions-box__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 650px;
  overflow-y: scroll;
  padding-right: 90px;
}

.questions-box__text h3 {
  text-align: left;
}

.choice-of-exercises {
  background: var(--light-gray);
}

.choice-of-exercises h1,
h2 {
  text-align: center;
}

.choice-of-exercises .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.choice-of-exercises__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.choice-of-exercises .outline-orange {
  width: 100%;
  gap: 36px;
  border-color: var(--black);
  height: auto;
  padding: 48px 0;
}

.choice-of-exercises .outline-orange svg {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
}

.choice-of-exercises .outline-orange:hover {
  border-color: var(--primary-orange);
}

.choice-of-exercises .outline-orange svg path {
  stroke: var(--black);
}

.progress-circle {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(var(--dark-green) 0% 100%, var(--gray) 100% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-circle:before {
  position: absolute;
  content: "";
  top: 8%;
  left: 8%;
  width: 84%;
  height: 84%;
  background: var(--white);
  border-radius: 50%;
}

.progress-circle span {
  position: absolute;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgba(68, 68, 68, 0.25);
}

::-webkit-scrollbar-track {
  background: rgba(68, 68, 68, 0.25);
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
  border: 1px solid rgba(68, 68, 68, 0.25);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

@media (max-width: 1199.98px) {
  .choice-of-exercises__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .questions-box {
    flex-direction: column-reverse;
  }
  .container.small {
    width: 100%;
  }

  .questions-box {
    flex-direction: column-reverse;
  }
  .questions-box img {
    width: 100%;
  }

  .questions-box__text {
    max-height: none;
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .choice-of-exercises__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .choice-of-exercises__list {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .breadcrumbs-title {
    font-weight: 500;
    line-height: 28px;
  }
  .choice-of-exercises .outline-orange svg {
    height: 80px;
    width: 80px;
  }
  .choice-of-exercises .container {
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .choice-of-exercises .outline-orange {
    gap: 16px;
    padding: 22px 0;
  }

  .box__audio audio::-webkit-media-controls-panel {
    background: #d9d9d9;
  }

  .questions-box img {
    width: 100%;
    height: 100%;
    max-height: 468px;
  }

  .questions-box__text {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 0;
  }
}

@media (max-width: 374.98px) {
  .choice-of-exercises .outline-orange svg {
    height: 60px;
    width: 60px;
  }
}
