.list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  position: relative;
}

.list li{
  display: flex;
  gap: 20px;
  width: 100%;
  position: relative;
}

.list li a{
  color: var(--black);
  font: 300 24px/1.3em Inter;
  text-decoration: underline;
  transition: all 0.4s linear;    
}

.list li a:hover{
  color: var(--primary-orange);
  transition: all 0.4s linear; 
}

@media (max-width: 767.98px) {

  .list li a {
      font: 300 18px / 1.3em Inter;
  }
}