input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 14px;
}

input[type="radio"]:checked {
  width: 24px;
  height: 24px;
  background: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  border-radius: 50%;
  outline: none;
  font-weight: 600;
  transition: 0.4s;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input__box {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.input__box.border__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.4s linear;

  height: 80px;
  width: 100%;
  border: 2px solid var(--gray, #cacaca);
  padding: 28px 35px;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.input__box.border__box .primary-button {
  max-width: 180px;
  max-height: 48px;
  border-radius: 12px;
  margin-left: auto;
  padding: 12px 33px;
  font-size: 12px;
}

.input__box.border__box.orange {
  border: 2px solid var(--primary-orange);
  font-weight: 600;
  transition: all 0.4s linear;
}

.input__box.border__box.green {
  border: 2px solid var(--dark-green);
  font-weight: 600;
  transition: all 0.4s linear;
}

.input__box.border__box.green > span {
  color: var(--dark-green);
}

.input__box.border__box.green input[type="radio"]:checked {
  background: var(--dark-green);
  border: 1px solid var(--dark-green);
}

.input__box.border__box.green input[type="radio"] {
  background: var(--dark-green);
  border: 1px solid var(--dark-green);
}

.input__box.border__box.green input[type="radio"]:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input__box.border__box.green::after {
  content: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.33203 15.9993L11.9317 22.599L26.075 8.45703" stroke="%230EBE75" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; /* Adjust as needed */
}

.input__box.border__box.red {
  border: 2px solid var(--red);
  font-weight: 600;
  transition: all 0.4s linear;
}

.input__box.border__box.red > span {
  color: var(--red);
}

.input__box.border__box.red input[type="radio"]:checked {
  background: var(--red);
  border: 1px solid var(--red);
}

.input__box.border__box.red input[type="radio"] {
  background: var(--red);
  border: 1px solid var(--red);
}

.input__box.border__box.red input[type="radio"]:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input__box.border__box.red::after {
  content: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 24L16 16M16 16L8 8M16 16L24 8M16 16L8 24" stroke="%23BE0E0E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  display: inline-block;
  vertical-align: middle;
  margin-left: auto; /* Adjust as needed */
}

.inputmodal {
  display: none;
  justify-items: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 45px;
  gap: 38px 0;
  max-height: 543px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: var(--white-background, #ffffff);
  border: 2px solid var(--orange, #f7631b);
  border-radius: 25px;
  width: calc(100% - 32px);
  z-index: 50;
  margin: 0;
}

.inputmodal.open {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 32px);
  max-height: 540px;
  height: calc(100% - 32px);
  max-width: 1256px;
  margin: auto;
}

.inputmodal .inputmodal__content {
  max-height: 380px;
  height: 100%;
  overflow-x: auto;
}

.inputmodal .close-inputmodal {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  font: 400 20px/1.3em "Inter", sans-serif;
  color: #000;
  cursor: pointer;
  gap: 0 15px;

  transition: all 0.4s linear;
}

.inputmodal .close-inputmodal:hover {
  color: var(--primary-orange);
  transition: all 0.4s linear;
}

.inputmodal .close-inputmodal:hover svg path {
  stroke: var(--primary-orange);
  transition: all 0.4s linear;
}

* > {
  counter-reset: labelCounter;
}

* > .list__ {
  counter-increment: labelCounter;
}

.list__ label {
  font: 600 24px/1.3em "Inter", sans-serif !important;
  margin-bottom: 24px;
  position: relative;
  display: flex;
  width: 100%;
}

.list__ label::before {
  content: counter(labelCounter) ". ";
  font-weight: bold;
  margin-left: -30px;

  color: var(--orange-text, #f7631b);
  font: 600 24px/1.3em "Inter", sans-serif;
  position: absolute;
}

@media (max-width: 1199.98px) {
  .input__box.border__box {
    min-height: 80px;
    padding: 20px 30px;
  }

  .list__ label::before {
    content: counter(labelCounter) ". ";
    font-weight: bold;
    margin-left: 0px;
    color: var(--orange-text, #f7631b);
    font: 600 24px / 1.3em "Inter", sans-serif;
    position: relative;
    margin-right: 10px;
  }

  .inputmodal {
    padding: 30px 25px;
    gap: 25px 0;
    /* max-height: 472px; */
    /* width: calc(100% - 32px); */
  }

  .box_border .inputmodal {
    /* margin: 0 0 0 -82px; */
    /* width: 100%; */
  }
}

@media (max-width: 991.98px) {
  .box_border .inputmodal {
    /* margin: 0 0 0 -70px; */
  }
}

@media (max-width: 767.98px) {
  .input__box.border__box {
    padding: 20px 18px;
    min-height: 60px;
    margin-bottom: 12px;
    height: auto;
  }

  .list__ label::before {
    content: counter(labelCounter) ". ";
    font-weight: bold;
    margin-left: 0;
    color: var(--orange-text, #f7631b);
    font: 600 16px/1.3em "Inter", sans-serif;
    position: relative;
    margin-right: 5px;
  }

  .list__ label {
    font: 600 16px/1.3em "Inter", sans-serif !important;
    margin-bottom: 16px;
  }

  .box_border .inputmodal {
    /* margin: 0; */
  }
}

@media (max-width: 575.98px) {
  .input__box.border__box {
    padding: 15px 14px !important;
    /* height: auto !important; */
    margin-bottom: 12px;
    flex-wrap: wrap;
    gap: 14px 0;
    justify-content: flex-start;
  }

  .input__box.border__box .primary-button {
    max-width: 142px;
    max-height: 38px;
    border-radius: 12px;
    margin-left: 0;
    padding: 7px 18px;
    font-size: 12px;
  }

  .input__box.border__box > *:nth-child(2) {
    width: calc(100% - 70px);
  }
  .input__box.border__box {
    position: relative;
  }

  .input__box.border__box.red::after {
    content: url('data:image/svg+xml;utf8,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 24L16 16M16 16L8 8M16 16L24 8M16 16L8 24" stroke="%23BE0E0E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    display: inline-block;
    vertical-align: middle;
    margin-left: 0; /* Adjust as needed */
    top: 12px;
    right: 15px;
    position: absolute;
  }

  .input__box.border__box.green::after {
    content: url('data:image/svg+xml;utf8,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.33203 15.9993L11.9317 22.599L26.075 8.45703" stroke="%230EBE75" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px; /* Adjust as needed */
    top: 15px;
    right: 15px;
    position: absolute;
  }
}
